OPENAI_API_KEY=여기에_OpenAI_API_키_입력
ANTHROPIC_API_KEY=여기에_Anthropic_API_키_입력
TELEGRAM_BOT_TOKEN=8795476505:AAHc-E2fdNEkXO0pTG7Divya018-ImkKzvY
TELEGRAM_CHAT_ID=5863195295
GEMINI_API_KEY=여기에_Gemini_API_키_입력
